.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    max-width: 30vw;
    input:not([type='file']),
    .fileUpload {
      display: block;
      width: 100%;
      padding: 1vw 1vw;
      margin-bottom: 2vw;
    }
    textarea {
      width: 100%;
      margin-bottom: 25px;
    }
    input[type='submit'] {
      background-color: $header-color;
      color: white;
    }
    input[type='file'] {
      margin-left: 1vw;
    }
    textarea::placeholder,
    input::placeholder {
      font-weight: 700;
    }
  }
  a {
    max-width: 30vw;
    width: 100%;
  }
}
