.form-container {
  width: 100%;
  max-width: 850px;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $block-color;
  form {
    width: 100%;
    input:not([type='file']),
    .fileUpload {
      display: block;
      width: 100%;
      padding: 1vw 1vw;
      margin-bottom: 25px;
    }
    textarea {
      width: 100%;
      margin-bottom: 25px;
    }
    input[type='submit'] {
      background-color: $header-color;
      color: white;
    }
    input[type='file'] {
      margin-left: 1vw;
    }
    textarea::placeholder,
    input::placeholder {
      font-weight: 700;
    }
  }
  a {
    width: 100%;
    button {
      padding: 1vw 1vw;
    }
  }
}
