.header {
  background-color: $header-color;
  margin-bottom: 5vh;
  height: 8vh;
  text-transform: uppercase;
  .header__wrapper {
    padding: 2vh 3vh;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .header__column {
      &:nth-child(1) {
        color: $white;
        font-size: 4vh;
        font-weight: 800;
      }
      &:last-child {
        justify-self: end;
      }
      a:link {
        color: $white;
      }
      a:visited {
        color: $white;
      }
      a:hover {
        color: $yellow;
      }
      ul {
        display: flex;
        color: $white;
        padding: 1vh 0;
        font-size: 2vh;
        font-weight: 700;
        a {
          color: $white;
        }
        a:hover {
          color: $yellow;
        }
        li:not(:last-child) {
          margin-right: 2vw;
        }
      }
    }
  }
}
