.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    width: 100%;
    max-width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 1vw;
    margin-bottom: 2vw;
    background-color: $header-color;
    color: white;
    span {
      margin-right: 10px;
      font-size: 20px;
    }
    a:link {
      color: $white;
    }
    a:visited {
      color: $white;
    }
    a:hover {
      color: $yellow;
    }
  }
}
