.videoBlock {
  background-color: $block-color;
  max-width: 100%;
  max-height: 100%;
  padding: 2vw 2vw;
  video {
    object-fit: cover;
    margin-bottom: 10px;
    width: 80vw;
    height: 60vh;
    max-width: 100%;
    max-height: 100%;
  }
  .videoBlock__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .videoBlock__metadata {
    margin: 1vw 0;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: $text-color;
  }
  .videoBlock__views {
    color: $text-color;
  }
  .videoBlock__user {
    justify-self: end;
    img {
      height:70px;
    }
  }
}
