mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__column
                span.videoPlayer__volumeBtn#jsVolumeBtn
                    i.fas.fa-volume-up
                input.videoPlayer__volume#jsVolumeRange(type='range', min='0', max="1", step="0.1" value="0.5")
                span
                    span#jsCurrentTime 00:00:00
                    span  / 
                    span#jsTotalTime 00:00:00
            .videoPlayer__column
                span#jsPlayBtn
                    i.fas.fa-play
            .videoPlayer__column
                span#jsFullScreenBtn
                    i.fas.fa-expand