html,
body {
  height: 100%;
}
body {
  background-color: $background-color;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}

button,
input:not([type='file']),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 2vh;
  color: $black;
  font-weight: 700;
  background-color: white;
  max-width: 30vw;
  resize: none;
  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}

button {
  border: none;
  background-color: $header-color;
  color: $white;
  font-size: 2vh;
  font-weight: 700;
}

button,
input[type='submit'] {
  cursor: pointer;
}

label {
  font-weight: 700;
}