.video__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    background-color: $block-color;
    border-radius: 5px;
    padding: 2vw 2vw;
    margin: 2vw 0;
    .video__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1vw 1vw;
      .video__title {
        font-size: 2vw;
        font-weight: 900;
        color: $text-color;
        margin-right: 3%;
      }
      .video__views {
        font-size: 1vw;
        font-weight: 600;
        margin-top: 0.5vw;
      }
      a {
        margin-left: auto;
        img {
          width: 2.5vw;
          height: auto;
        }
      }
    }
    .video__description {
      background-color: $background-color;
      width: 100%;
      min-height: 20vh;
      padding: 1vw 1vw;
      margin-bottom: 2vw;
    }
    a {
      text-align: center;
      button {
        width: 30%;
      }
    }
  }
  .video__comment {
    width: 100%;
    max-width: 850px;
    background-color: $block-color;
    padding: 2vw 2vw;
    border-radius: 5px;
    .add__comment {
      width: 100%;
      background-color: $background-color;
      padding: 1vw 1vw;
      margin: 1vw 0;
      input[type='text'] {
        max-width: 88%;
        border-radius: 10px;
        margin-right: 2%;
      }
      input[type='submit'] {
        max-width: 10%;
        border-radius: 10px;
        background-color: $block-color;
        color: $white;
      }
    }
    .video__comment_title {
      width: 100%;
      background-color: $background-color;
      padding: 2vw 1vw;
      padding-top: 3vw;
      text-align: center;
      font-size: 1vw;
      font-weight: 800;
    }
    .video__comment_list {
      background-color: $background-color;
      padding: 1vw 1vw;
      .video__comment_item {
        display: flex;
        flex-direction: row;
        margin-bottom: 2vw;
        align-items: center;
        a {
          width: 5%;
          height: auto;
          margin-right: 2%;
          img {
            width: 100%;
            height: auto;
          }
        }
        li {
          width: 100%;
          background-color: $block-color;
          border-radius: 10px;
          padding: 1vw 1vw;
          font-weight: 700;
        }
        .isAuthenticated {
          display: flex;
          flex-direction: row;
          width: 100%;
          input {
            width: 10%;
            background-color: $block-color;
            color: $white;
            margin-left: 2%;
          }
        }
      }
    }
  }
}
